---
 const personalImageAlt = "Juan Agustín Reynoso Mujica"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p> 💻 <strong>I worked as a Full Stack Developer</strong> at Mobile Computing. I worked on developing solutions for both the backend and frontend, focusing on performance optimization and user experience. <strong> I enjoy teamwork, problem-solving, and adapting to the challenges </strong> of software development.  </p>
    <p>
       <strong>I was a mentor at Aprendé Programando</strong>, where I taught high school students how to develop logical thinking and problem-solving skills. I enjoy creating a collaborative learning environment, fostering autonomy, and building confidence in the learning process.
    </p>
    <p>
      🎓 Graduated from Henry's bootcamp, in which I carried out <strong>+800 hours of programming and carried out individual and group projects</strong>, learning different technologies and agile SCRUM methods for teamwork. <strong>I was Teaching Assistant of a group of students </strong> whom I coordinated to achieve the integration to the study group, assist in the resolution of exercises and promote group collaboration (Pair Programming).
    </p> 
    <p> 
      <strong> I am also currently studying more about React, Tailwind and NodeJS to broaden my horizons. I'm always looking for new challenges to continue growing professionally.</strong>
    </p>

    

  </div>

  <img width="200" height="200" src="/agusdev.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

