---
 const personalImageAlt = "Juan Agustín Reynoso Mujica"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >

    <p>
      ⚒ I am a Full Stack Developer. <strong>I was a mentor at Aprendé Programando</strong>, a program of the Government of the Autonomous City of Buenos Aires. I taught <strong>Javascript, HTML, CSS, Python, and Unity</strong> in over 12 courses to high school students, with approximately 20 students each, for over a year.
    </p>
    <p>
      🎓 Graduated from Henry's bootcamp, in which I carried out <strong>+800 hours of programming and carried out individual and group projects</strong>, learning different technologies and agile SCRUM methods for teamwork. <strong>I was Teaching Assistant of a group of students </strong> whom I coordinated to achieve the integration to the study group, assist in the resolution of exercises and promote group collaboration (Pair Programming).
    </p> 
    <p> 
      🔧 I worked as a Freelancer making fixes for an application in React-Native and buying and selling NFTs in a video game. <strong>I am also currently studying PHP to broaden my horizons </strong> .
    </p>

    

  </div>

  <img width="200" height="200" src="/agusdev.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

